<p id="notice"><%= notice %></p>

<h1>شباب</h1>

<%= link_to 'اضافة جديدة', new_person_path %>

<br>
<br>

<table border="1">
  <thead>
    <tr>
      <th>الاسم</th>
      <th>نقاط</th>
      <th>تليفون</th>
      <th>الاسرة</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.points %></td>
        <td><%= person.mobile %></td>
        <td><%= person.family.name %></td>
        <td><%= link_to 'عرض', person %></td>
        <td><%= link_to 'تعديل', edit_person_path(person) %></td>
        <td><%= link_to 'مسح', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

