<p id="notice"><%= notice %></p>

<h1>Redeem Records</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Redeem item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redeem_records.each do |redeem_record| %>
      <tr>
        <td><%= redeem_record.person %></td>
        <td><%= redeem_record.redeem_item %></td>
        <td><%= link_to 'Show', redeem_record %></td>
        <td><%= link_to 'Edit', edit_redeem_record_path(redeem_record) %></td>
        <td><%= link_to 'Destroy', redeem_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redeem Record', new_redeem_record_path %>
