<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @redeem_record.person %>
</p>

<p>
  <strong>Redeem item:</strong>
  <%= @redeem_record.redeem_item %>
</p>

<%= link_to 'Edit', edit_redeem_record_path(@redeem_record) %> |
<%= link_to 'Back', redeem_records_path %>
